<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
	{% block _core_head_style %}{% endblock %}
</head>
<body class="{% block _core_page_class %}{% endblock %}">
{% block _core_page_title %}{% endblock %}
{% block _core_page_nav %}{% endblock %}
{% block _core_content %}{% endblock %}
{% block _core_foot_script %}{% endblock %}
</body>
</html>
