{% trans_default_domain "sale" %}

<table class="table table-condensed">
	<thead>
		<tr>
			<th class="selectall"></th>
			<th class="datetime">{% trans %}sale.sales.date{% endtrans %}</th>
			<th class="id">{% trans %}sale.sales.order_id{% endtrans %}</th>
			<th class="store">{% trans %}sale.sales.store{% endtrans %}</th>
			<th class="name">{% trans %}sale.sales.name{% endtrans %}</th>
			<th class="code">{% trans %}sale.sales.code{% endtrans %}</th>
			<th class="category">{% trans %}sale.sales.category{% endtrans %}</th>
			<th class="quantity">{% trans %}sale.sales.quantity{% endtrans %}</th>
			<th class="currency">{% trans %}sale.sales.currency{% endtrans %}</th>
            <th class="gross">{% trans %}sale.sales.gross{% endtrans %}</th>
            <th class="tax">{% trans %}sale.sales.tax{% endtrans %}</th>
            <th class="net">{% trans %}sale.sales.net{% endtrans %}</th>
			<th class="actions">{% trans %}sale.sales.actions.title{% endtrans %}</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
