{% trans_default_domain "po" %}

<div class="filters clearfix">
	<div class="row">
		<div class="col-sm-3">
			{{ form_row(filters.period) }}
		</div>
		<div class="col-sm-6">
			<label class="control-label">{% trans %}po.transactions.filters.test_orders{% endtrans %}</label>
			{{ form_row(filters.test) }}
		</div>
	</div>
	{{ form_widget(filters.date_to) }}
	{{ form_widget(filters.date_from) }}
</div>
