{% trans_default_domain "purchase" %}

<table class="table table-condensed">
    <thead>
        <th class="selectall"></th>
        <th class="id">{% trans %}purchase.purchases.order_id{% endtrans %}</th>
        <th class="date">{% trans %}purchase.purchases.order_date{% endtrans %}</th>
        <th class="name">{% trans %}purchase.purchases.name{% endtrans %}</th>
        <th class="code">{% trans %}purchase.purchases.code{% endtrans %}</th>
        <th class="category_name">{% trans %}purchase.purchases.category_name{% endtrans %}</th>
        <th class="currency">{% trans %}purchase.purchases.currency{% endtrans %}</th>
        <th class="quantity">{% trans %}purchase.purchases.quantity{% endtrans %}</th>
        <th class="actions">{% trans %}purchase.purchases.actions.title{% endtrans %}</th>
    </thead>
    <tbody>
    </tbody>
</table>
