{% spaceless %}
    <a href='{{ path('promotion_edit', { id: promotion.id }) }}'><i class='fa fa-pencil-square-o'></i>&nbsp&nbsp</a>
    <a href='{{ path('promotion_delete', { id: promotion.id }) }}'>  <i class='fa fa-trash-o'></i></a>
{% endspaceless %}

