{% trans_default_domain "cart" %}

{% include "DzangocartCoreBundle:Cart:filters.html.twig" %}

<table class="table table-condensed table-hover" id="carts">
    <thead>
        <tr>
            <th class="selectall"></th>
            <th class="datetime">{% trans %}cart.carts.date{% endtrans %}</th>
            <th class="id">{% trans %}cart.carts.id{% endtrans %}</th>
            <th class="store">{% trans %}cart.carts.store_name{% endtrans %}</th>
            <th class="customer">{% trans %}cart.carts.customer{% endtrans %}</th>
            <th class="status">{% trans %}cart.carts.status{% endtrans %}</th>
            <th class="gross">{% trans %}cart.carts.gross{% endtrans %}</th>
            <th class="tax">{% trans %}cart.carts.tax{% endtrans %}</th>
            <th class="net">{% trans %}cart.carts.net{% endtrans %}</th>
            <th class="actions"><i class="fa fa-cog"></i></th>
        </tr>
        <tr class="filters" >
            <th></th>
            <th></th>
            <th class="filters_keyup">{{ form_widget(filters.order_id) }}</th>
            <th class="filters_keyup store_name">{{ form_widget(filters.store) }}</th>
            <th class="customer_name">{{ form_widget(filters.customer) }}</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
