{% spaceless %}
{% if order %}
    {% if(app.request.get('_template')|split(":")[0] == 'DzangocartCoreBundle')%}<a href='{{ path('order', { id: order.id }) }}'>{{ order.id  }}</a>{% else %}<a href='{{ path('home_order', { id: order.id }) }}'>{{ order.id  }}</a>{% endif %}
{% endif %}
{% endspaceless %}
