{% trans_default_domain "payment" %}

{% include 'DzangocartCoreBundle:Payment:filters.html.twig' %}

<table class="table table-condensed table-hover" id="payments">
	<thead>
		<tr>
			<th class="selectall"></th>
			<th class="datetime">{% trans %}payment.payments.date{% endtrans %}</th>
			<th class="store">{% trans %}payment.payments.store{% endtrans %}</th>
			<th class="id">{% trans %}payment.payments.order_id{% endtrans %}</th>
			<th class="customer">{% trans %}payment.payments.customer{% endtrans %}</th>
			<th class="gateway">{% trans %}payment.payments.gateway{% endtrans %}</th>
			<th class="amount">{% trans %}payment.payments.transaction.amount{% endtrans %}</th>
			<th class="status">{% trans %}payment.payments.status{% endtrans %}</th>
			<th class="actions"><i class="fa fa-cog"></i></th>
		</tr>
		{% include "DzangocartCoreBundle:Payment:filters_row.html.twig" %}
	</thead>
	<tbody>
	</tbody>
</table>
