{% spaceless %}

{% trans_default_domain "gateway" %}

<div class='btn-group'>
	<button type='button' class='dropdown-toggle' data-toggle='dropdown'>
		<i class='fa fa-cog'></i>
	</button>
	<ul class='dropdown-menu dropdown-menu-right navbar-right' role='menu'>
		<li>
			<a href='{{ path('gateway', { id: gateway.id }) }}'>{% trans %}gateway.gateways.actions.show{% endtrans %}</a>
		</li>
	</ul>
</div>
{% endspaceless %}
