{% extends template %}

{% trans_default_domain "user" %}

{% block _core_page_title %}{% trans %}user.users.page_title{% endtrans %}{% endblock %}

{% block bodyclass %}users{% endblock %}

{% block _core_content %}
<table class="table table-condensed">
    <thead>
        <th class="selectall"></th>
        <th class="domain">{% trans %}user.users.id{% endtrans %}</th>
        <th class="name">{% trans %}user.users.realm{% endtrans %}</th>
        <th class="rcs">{% trans %}user.users.code{% endtrans %}</th>
        <th class="siren">{% trans %}user.users.username{% endtrans %}</th>
        <th class="telephone">{% trans %}user.users.createdAt{% endtrans %}</th>
        <th class="telephone">{% trans %}user.users.lastLogin{% endtrans %}</th>
        <th class="actions">{% trans %}user.users.actions.title{% endtrans %}</th>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}

{% block _core_head_style %}
    {{ parent() }}
    {% include "DzangocartCoreBundle:User:users_head_style.html.twig" %}
{% endblock %}

{% block _core_foot_script %}
    {{ parent() }}
    {% include "DzangocartCoreBundle:User:users_foot_script.html.twig" %}
{% endblock %}
