{% trans_default_domain "user" %}

<table class="table table-condensed">
    <thead>
        <th class="selectall"></th>
        <th class="domain">{% trans %}user.users.id{% endtrans %}</th>
        <th class="name">{% trans %}user.users.realm{% endtrans %}</th>
        <th class="rcs">{% trans %}user.users.code{% endtrans %}</th>
        <th class="siren">{% trans %}user.users.username{% endtrans %}</th>
        <th class="telephone">{% trans %}user.users.createdAt{% endtrans %}</th>
        <th class="telephone">{% trans %}user.users.lastLogin{% endtrans %}</th>
        <th class="actions">{% trans %}user.users.actions.title{% endtrans %}</th>
    </thead>
    <tbody>
    </tbody>
</table>
