{% trans_default_domain "user" %}

<table class="table table-condensed table-hover" id="users">
    <thead>
        <th class="selectall"></th>
        <th class="username">{% trans %}user.users.surname{% endtrans %}</th>
        <th class="given_names">{% trans %}user.users.given_names{% endtrans %}</th>
        <th class="gender">{% trans %}user.users.gender{% endtrans %}</th>
        <th class="username">{% trans %}user.users.username{% endtrans %}</th>
        <th class="realm">{% trans %}user.users.realm{% endtrans %}</th>
        <th class="code">{% trans %}user.users.code{% endtrans %}</th>
        <th class="datetime">{% trans %}user.users.createdAt{% endtrans %}</th>
        <th class="datetime">{% trans %}user.users.lastLogin{% endtrans %}</th>
        <th class="actions">{% trans %}user.users.actions.title{% endtrans %}</th>
    </thead>
    <tbody>
    </tbody>
</table>
