{% trans_default_domain "user" %}

<table class="table table-condensed">
    <thead>
        <th class="selectall"></th>
        <th class="id">{% trans %}user.users.id{% endtrans %}</th>
        <th class="realm">{% trans %}user.users.realm{% endtrans %}</th>
        <th class="code">{% trans %}user.users.code{% endtrans %}</th>
        <th class="username">{% trans %}user.users.username{% endtrans %}</th>
        <th class="datetime">{% trans %}user.users.createdAt{% endtrans %}</th>
        <th class="datetime">{% trans %}user.users.lastLogin{% endtrans %}</th>
        <th class="actions">{% trans %}user.users.actions.title{% endtrans %}</th>
    </thead>
    <tbody>
    </tbody>
</table>
