{% extends template %}

{% trans_default_domain "catalogue" %}

{% block page_title %}{% trans with { '%store%': store.name } %}catalogue.page_title{% endtrans %}{% endblock %}

{% block bodyclass %}catalogue{% endblock %}

{% block _core_content %}
<table class="table treetable">
    <thead>
        <tr>
            <th class="name">{% trans %}catalogue.name{% endtrans %}</th>
            <th class="code">{% trans %}catalogue.code{% endtrans %}</th>
            <th class="code">{% trans %}catalogue.suffix{% endtrans %}</th>
            <th class="price">{% trans %}catalogue.price{% endtrans %}</th>
            <th class="price">{% trans %}catalogue.tax_included{% endtrans %}</th>
            <th class="actions">{% trans %}catalogue.actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% include "DzangocartCoreBundle:Catalogue:catalogue.html.twig" %}
    </tbody>
</table>

{% endblock %}

{% block _core_head_style %}
	{{ parent() }}
	{% include "DzangocartCoreBundle:Catalogue:catalogue_head_style.html.twig" %}
{% endblock %}

{% block _core_foot_script %}
	{{ parent() }}
	{% include "DzangocartCoreBundle:Catalogue:catalogue_foot_script.html.twig" %}
{% endblock %}
