{% extends "DzangocartCoreBundle:Customer:base.html.twig" %}

{% trans_default_domain "order" %}

{% block _core_content %}
    <div class="orders">
        {% include "DzangocartCoreBundle:Order:orders.html.twig" %}
    </div>
{% endblock %}

{% block _core_head_style %}
    {{ parent() }}
    {% include "DzangocartCoreBundle:Order:orders_head_style.html.twig" %}
{% endblock %}

{% block _core_foot_script %}
    {{ parent() }}
	{% javascripts
		'bundles/uamdatatables/js/jquery.dataTables.min.js'
		'bundles/uamdatatables/js/jquery.dataTables_bootstrap.js'
		'bundles/dzangocartcore/js/scripts/order/orders.js'
	%}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script>
	dzangocart.orders = {
		dataTables: {
			sAjaxSource: "{{ path('orders', { _format: 'json', customer_id: customer.id })|raw }}"
		}
	};
	</script>
{% endblock %}

