{% extends "DzangocartCoreBundle:Customer:base.html.twig" %}

{% trans_default_domain "customer" %}

{% block page_sub_title %}{% trans %}customer.payments.page_title{% endtrans %}{% endblock %}

{% block _core_content %}
	<div class="payments">
		{% include "DzangocartCoreBundle:Payment:payments.html.twig" %}
	</div>
{% endblock %}

{% block _core_head_style %}
	{{ parent() }}
	{% include "DzangocartCoreBundle:Payment:payments_head_style.html.twig" %}
{% endblock %}

{% block _core_foot_script %}
	{{ parent() }}
	{% include "DzangocartCoreBundle:Customer:payments_foot_script.html.twig" %}
{% endblock %}
