table.table thead tr th, table.table td {
	border: 1px solid #ddd;
	border-width: 0 0 1px 0;
}

table.table th.date {
	width: 7em;
}

table.table th.datetime {
	width: 9em;
}

table.table th.id {
	width: 4em;
}

table.table th.currency {
	width: 4em;
}

table.table th.quantity {
	width: 4em;
	text-align: center;
}

table.table th.gross {
	width: 8em;
	text-align: center;
}

table.table th.tax {
	width: 6em;
	text-align: center;
}

table.table th.net {
	width: 8em;
	text-align: center;
}

table.table th.status {
	width: 4em;
}

table.table th.gender {
	width: 5em;
}

table.table th.realm {
	width: 10em;
}

table.table th.amount {
	width: 5em;
}

table.table th.gateway {
	width: 10em;
}

table.table th.actions {
	width: 5em;
}

table.table td.amount,
table.table td.number {
	text-align: right;
	padding-right: 15px;
}

table.table thead tr.filters th {
	padding: 5px 1px;
}

table.table thead tr.filters th .form-control {
	width: 100%;
	padding: 6px;
	font-weight: normal;
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: auto;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	text-align: center;
}
