.orders table.table th.gross {
	width: 8em;
	text-align: center;
}

.orders table.table th.tax {
	width: 6em;
	text-align: center;
}

.orders table.table th.net {
	width: 8em;
	text-align: center;
}

.orders table.table th.status {
	width: 4em;
}
