.items th.actions {
	width: 5em;
}

.items {
     font-size: 90%;
}

table.table th.quantity {
	text-align: center;
    padding-left: 0;
    padding-right: 0;
}

table.table th.amount {
	text-align: center;
    padding-left: 0;
    padding-right: 0;
}
