{% extends template %}

{% trans_default_domain "order" %}

{% block _core_page_title %}{% trans %}order.orders.page_title{% endtrans %}{% endblock %}

{% block bodyclass %}orders{% endblock %}

{% block _core_content %}
<table class="table table-condensed">
	<thead>
		<tr>
			<th class="selectall"></th>
			<th class="datetime">{% trans %}order.orders.date{% endtrans %}</th>
			<th class="store-name">{% trans %}order.orders.store_name{% endtrans %}</th>
			<th class="id">{% trans %}order.orders.id{% endtrans %}</th>
			<th class="status">{% trans %}order.orders.status{% endtrans %}</th>
			<th class="actions">{% trans %}order.orders.actions.title{% endtrans %}</th>
		</tr>
		<tr class="filters">
			<th></th>
			<th></th>
			<th>{{ form_widget(form.store_name) }}</th>
			<th>{{ form_widget(form.id) }}</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
{% endblock %}

{% block _core_head_style %}
	{{ parent() }}
	{% include "DzangocartCoreBundle:Order:orders_head_style.html.twig" %}
{% endblock %}

{% block _core_foot_script %}
	{{ parent() }}
	{% include "DzangocartCoreBundle:Order:orders_foot_script.html.twig" %}
{% endblock %}
